@import '../../styles/global/_helpers';

.tooltip {
    padding: 0.1rem 0.5rem;
    background-color: $white;
    color: $black;
    font-size: 0.8rem;
    font-weight: $weight-medium;
    text-align: center;
    line-height: 2.4rem;
}