@import './global/base';

.layout__content {
    @include media-up(sm) {
        display: flex;
    }

    .outlet {
        width: 100%;
    }
}

.recharts-legend-item .recharts-surface {
    vertical-align: unset !important;
}

.recharts-default-legend {
    padding-top: 2.4rem !important;
}

.recharts-wrapper {
    position: unset !important;
}