@import '../../styles/global/_helpers';

.user {
    display: flex;

    main {
        margin: 2.5rem 3.5rem 0;
        width: 100%;

        @include media-up(lg) {
            margin: 6.8rem 10.7rem 2rem;
        }

        .intro {
            .title,
            .userName {
                font-size: 4.8rem;
                font-weight: $weight-medium;
            }

            .title {
                margin-bottom: 3rem;

                .userName {
                    color: $chart-red-light;
                }
            }

            p {
                font-size: 1.8rem;
            }
        }

        .dashboard__container {
            width: 100%;
            height: auto;
            display: flex;
            gap: 3.1rem;

            .dashboard__left {
                width: calc(100% - 280px);
                min-height: 70vh;
            }

            .dashboard__right {
                display: flex;
                flex-direction: column;
                gap: 3.8rem;
                margin-top: 7.7rem;
            }

            .chart__bottom {
                display: grid;
                gap: 3rem;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 263px);

                @include media-up(lg) {
                    max-height: 263px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 263px;
                }

            }
        }
    }
}