@import '../../styles/global/_helpers';

.user {
    display: flex;

    main {
        margin: 2.5rem 3.5rem 0;
        width: 100%;

        @include media-up(custom, 1480px) {
            margin: 6.8rem 10.7rem 2rem;
        }

        .intro {
            .title,
            .userName {
                font-size: 4.8rem;
                font-weight: $weight-medium;
            }

            .title {
                margin-bottom: 3rem;

                .userName {
                    color: $chart-red-light;
                }
            }

            p {
                font-size: 1.8rem;
            }
        }

        .dashboard__container {
            width: 100%;
            height: auto;
            display: flex;
            gap: 3.1rem;
            flex-direction: column-reverse;

            @include media-up(xl) {
                flex-direction: row;
            }

            .dashboard__left {
                @include media-up(xl) {
                    min-height: 70vh;
                    width: calc(100% - 290px);
                }
            }

            .dashboard__right {
                display: grid;

                @include media-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }
                gap: 1.4rem;

                @include media-up(xl) {
                    display: flex;
                    flex-direction: column;
                    margin-top: 7.7rem;
                    gap: 3.8rem;
                }
            }

            .chart__bottom {
                display: grid;
                gap: 3rem;
                grid-template-rows: repeat(3, 263px);
                grid-template-columns: 1fr;

                @include media-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 263px);
                }

                @include media-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 263px;
                }

                @include media-up(xl) {
                    max-height: 263px;
                }

            }
        }
    }
}