@import '../../styles/global/_helpers';

.header {
    display: flex;
    padding: 1.8rem 2.8rem 1.2rem;
    background-color: $black;
    color: $white;
    align-items: center;
    justify-content: space-between;


    img {
        display: none;
        @include media-up(sm) {
            display: block;
            max-width: 178px;
            margin-right: 2rem;
        }
    }

    nav {
        width: 100%;
        @include media-up(sm) {
            width: 70%;
            margin-right: 2rem;
        }

        ul {
            @include flex(row, space-between, center);
            width: 100%;

            li {
                font-size: 1.4rem;
                @include media-up(sm) {
                    font-size: 2.4rem;
                }
                font-weight: $weight-medium;

                a {
                    transition: all 0.2s ease-in-out;

                    &.active {
                        color: $primary-red;

                        &:hover {
                            color: $primary-red-darken;
                        }
                    }


                    &:hover {
                        color: $primary-red;
                    }
                }
            }
        }
    }
}